{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>
    {% block title %}
       - ISL Ideas
    {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    {% block header %}
    {% endblock header %}
</head>

<body>
  <p><a href="{% url 'home' %}">Home</a></p>
  <p><a href="{% url 'idea_form' %}">Create New Idea</a></p>
  {% if user.is_authenticated %}
    <li>
      <a href="{% url 'googleauth_logout' %}">Logout</a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'googleauth_login' %}">Login</a>
    </li>
{% endif %}
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
</body>

</html>
