{% extends 'ideas/base.html' %}
{% block title %}
  {{ idea.title }}{{ block.super }}
{% endblock title %}

{% block content %}
<h1>{{ idea.title }}</h1>
  <p>{{ idea.description }}</p>
  <p>Tags:
    {% for tag in related_tags %}
      {{ tag }}
    {% endfor %}
  </p>
  <p>Posted at {{ idea.date }}</p>


  {% url 'idea_edit' slug=idea.slug as the_url %}
    <a href="{{ the_url }}">I'm linking to {{ the_url }}</a>
<h2>Votes</h2>
  <p>Each Vote:
    {% for vote in related_votes %}
      {{ vote.vote_1 }}
    {% endfor %}
  </p>
  <p>Total votes: {{ related_votes_total }}</p>

<h2>Comments</h2>
  {% for comment in view.comments %}
    <p>{{ comment.description }}</p>
    <p>Posted at {{comment.date }}</p>
  {% endfor %}
<h2>Comments</h2>
  {% for comment in posted_comments %}
    <p>{{ comment.description }}</p>
    <p>Posted at {{comment.date }}</p>
  {% endfor %}

<h2>New Comment</h2>
  <form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock content %}
