{% extends 'ideas/base.html' %}
{% block title %}
  {{ idea.title }}{{ block.super }}
{% endblock title %}

{% block content %}
<h1>{{ idea.title }}</h1>
  <p>{{ idea.description }}</p>
  <p>Tags: {% for tag in idea.tags.all %}
      {{tag.name}}
    {% endfor %}</p>
  <p>Posted at {{ idea.date }}</p>
  <a href="{% url 'idea_edit' idea.slug %}">Edit Idea</a>
  <a href="{% url 'idea_confirm_delete' idea.slug %}">Delete Idea</a>

<h2>Votes</h2>
  <p>Each Vote:
    {% for vote in idea.vote_set.all %}
      {{ vote.vote_1 }}
    {% endfor %}</p>
  <p>Total votes: {{ idea.votes }}</p>

<h2>Comments</h2>
  {% for comment in idea.comment_set.all %}
    <p>{{ comment.description }}</p>
    <p>Posted at {{comment.date }}; comment.id={{comment.id}}; comment.idea.slug={{comment.idea.slug}}</p>
    <a href="{% url 'comment_edit' comment.idea.slug comment.id %}">Edit Comment</a>
    <a href="{% url 'comment_confirm_delete' comment.idea.slug comment.id %}">Delete Comment</a>
    <p>_____________</p>
  {% endfor %}

<h2>New Comment</h2>
  <form role="form" action="{% url 'idea_detail' idea.slug %}" method="post">
    {% csrf_token %}
    {{ comment_form.description }}
    {{ vote_form.vote_1 }}
    <button type="submit">Submit</button>
  </form>
{% endblock content %}
