{% extends 'ideas/base.html' %}
{% block title %}Home{{ block.super }}
{% endblock title %}
{% block content %}
  <h1>ISL Ideas</h1>
  <form action="{% url "home" %}" method="GET">
    <input type="text" name="q" />
    <button type="submit">search</button>
  </form>
  {% for idea in idea_list %}
  <h2>
    <a href="{% url 'idea_detail' slug=idea.slug %}">
      {{ idea.title }}
    </a>
  </h2>
  <p>{{ idea.description }}</p>
  <p>Tags: {% for tag in idea.tags.all %}
      {{tag.name}}
    {% endfor %}</p>
  <p>Posted at: {{ idea.date }}</p>
  <p>Total votes: {{ idea.votes }}</p>
  {% endfor %}
{% endblock content %}
